/* Переменные цветов */

:root {
  --primary-dark-blue: #043873;
  --primary-blue: #4F9CF9;
  --secondary-yellow: #FFE492;
  --secondary-blue: #A7CEFC;
  --secondary-white: #FFFFFF;
  --secondary-black: #212529;
}

/* Переиспользуемые блоки */

.button{
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  background-color: var(--primary-blue);
  color: var(--secondary-white);
  border-radius: 8px;
  border-style: none;
  padding: 16px 24px;
  cursor: pointer;
  align-self: flex-start;
}

.button_border-color_yellow{
  border: 1px solid var(--secondary-yellow);
  color: var(--secondary-black);
  background-color: transparent;
}

.container{
  display: flex;
  align-items: center;
}

.container__title{
  font-family: Inter, sans-serif;
  font-size: 64px;
  letter-spacing: 1%;
  font-weight: 700;
}

.container__text{
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1%;
  margin-top: 24px;
}

.container__button{
  margin-top: 60px;
}


.container__decoration{
  width: 300px;
  height: 300px;
  background-color: var(--secondary-blue);
  flex-shrink: 0;
}

.card{
  width: 472px;
  padding: 40px 44px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid var(--secondary-yellow);
  border-radius: 10px;
  color: var(--secondary-black);
}

.card_color_blue{
  background-color: var(--primary-dark-blue);
  padding: 80px 44px;
  border: none;
  color: var(--secondary-white);
}

.card__header{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__title{
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.card__price{
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1%;
}


.card__price_color_yellow{
  color: var(--secondary-yellow);
}

.card__description{
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1%;
  line-height: 23px;
}

.card__feature-list{
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1%;
  line-height: 20px;
}

.card__feature-list-item{
  display: flex;
  align-items: center;
}

.card__feature-list-item::before{
  display: inline-block;
  width: 18px;
  height: 18px;
  content: "";
  margin-right: 19px;
  background-image: url(../images/circle-check-mark.svg);
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.card__feature-list-item_icon_yellow::before{
  background-image: url(../images/circle-check-mark-yellow.svg);
}

.card__feature-list_font-size_18px{
  font-size: 18px;
  line-height: 23px;
}

.card__button{
  padding: 16px 40px;
  font-size: 16px;
  letter-spacing: -1%;
  line-height: 19px;
}

.comment{
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: var(--secondary-white);
}

.comment_bg-color_white{
  background-color: var(--secondary-white);
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  color: var(--secondary-black);
}

.comment__header{
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-bottom: 1px solid var(--secondary-white);
}

.comment__header_border-cl_black{
  border-color: var(--secondary-black);
}

.quotes{
  width: 86px;
  height: 61px;
  background-image: url(../images/Quote-white.svg);
  background-size: cover;
  background-position: center;
}

.quotes_color_blue{
  background-image: url(../images/Quote.svg);
}

.comment__header-text{
  font-family: Inter, sans-serif;
  font-size: 18px;
  letter-spacing: -1%;
  line-height: 30px;
  font-weight: 400;
}

.comment__footer{
  display: flex;
  gap: 42px;
  align-items: center;
}

.comment__avatar{
  width: 95px;
  height: 95px;
}

.comment__footer-description{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment__footer-title{
  font-family: Inter, sans-serif;
  font-size: 24px;
  letter-spacing: 2%;
  line-height: 36px;
  font-weight: 600;
}

.comment__footer-text{
  font-family: Inter, sans-serif;
  font-size: 16px;
  letter-spacing: -2%;
  line-height: 20px;
  font-weight: 400;
}

.button_icon-arrow_10px::after{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-image: url(../images/button-arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button_icon-arrow_14px::after{
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  background-image: url(../images/button-arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decorative-underlining{
  position: relative;
}

.decorative-underlining::after{
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: -10%;
  left: 0;
  background-image: url(../images/underlining.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.decorative-underlining_color_blue::after{
  height: 20%;
  bottom: 0;
  background-image: url(../images/underlining-blue.svg);
}

/* Основной код */

.header {
  padding: 16px 220px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark-blue);
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header__logo-img{
  width: 37px;
}

.header__logo-text{
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--secondary-white);
  letter-spacing: 2.8%;
}

.header__menu{
  display: flex;
  column-gap: 60px;
  align-items: center;
}

.header-menu-links-list {
  display: flex;
  list-style: none;
  column-gap: 42px;
  color: var(--secondary-white);
}

.header__link {
  font-family: DM Sans;
  font-size: 18px;
  text-decoration: none;
  line-height: 23px;
}

.header__link::after{
  content: "";
  display: inline-block;
  margin-left: 20px;
  width: 10px;
  height: 10px;
  background-image: url(../images/list-item-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__login-try {
  display: flex;
  column-gap: 24px;
  list-style: none;
}

.header__button-login{
  background-color: var(--secondary-yellow);
  color: var(--primary-dark-blue);
  padding: 18.5px 40px; 
}

.header__button-try{
  padding: 18.5px 24px;
}

.hero-section{
  color: var(--secondary-white);
  background-color: var(--primary-dark-blue);
  padding: 140px 220px;
  background-image: url(../images/lines.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 190px;
}

.hero-section__button{
  padding: 20px;
}

.hero-section__decoration{
  min-width: 824px;
  min-height: 549px;
}

.work-management{
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding: 140px 220px;
  color: var(--secondary-black);
  background-image: url(../images/whirlpool.svg);
  background-repeat: no-repeat;
  background-size: 1100px 448px;
  background-position:-250px 265px;
  position: relative;
  z-index: 0;
}

.work-management-project-management__container{
  column-gap: 60px;
}

.work-management__title{
  font-size: 72px;
}

.work-management__text{
  font-size: 18px;
}

.work-management__button{
  padding: 20px 40px;
}

.work-management-project-management__decoration{
  min-width: 748px;
  min-height: 547px;
}

.work-management-work-together__container{
  column-gap: 100px;
}

.work-management-work-together__decoration{
  background-color: none;
  min-width: 710px;
  min-height: 661px;
  background-color: transparent;
  background-image: url(../images/work-together-image.svg);
  background-size: cover;
  background-position: center;
}

.extension{
  position: relative;
  z-index: 0;
  padding: 140px 220px;
  background-color: var(--primary-dark-blue);
  color: var(--secondary-white);
}

.extension__container{
  gap: 98px;
}

.extension__title{
  font-size: 72px;
}

.extension__button{
  padding: 20px 40px;
}

.extension__decoration{
  width: 686px;
  height: 479px;
  flex-shrink: 0;
}

.customise{
  padding: 140px 220px;
}

.customise__container{
  gap: 98px;
}

.customise__decoration{
  width: 714px;
  height: 532px;
}

.customise__title{
  font-size: 72px;
}

.customise__button{
  padding: 20px 40px;
}

.pricing{
  padding: 140px 220px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.pricing__description{
  font-family: Inter, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.pricing__title{
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 1%;
}

.pricing__text{
  max-width: 980px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1%;
}

.cards-list{
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.your-work{
  position: relative;
  z-index: 0;
  padding: 140px 220px;
  background-color: var(--primary-dark-blue);
  color: var(--secondary-white);
}

.your-work::after{
  content: "";
  width: 680px;
  height: 690px;
  position: absolute;
  top: -30%;
  left: 0;
  background-image: url(../images/whirlpool-two.svg);
  background-size: cover;
  background-position: center;
}

.your-work__container{
  flex-direction: column;
}

.your-work__title{
  font-size: 72px;
}

.your-work__text{
  width: 1064px;
  text-align: center;
}

.your-work__button{
  align-self: center;
  padding: 20px 40px;
}

.your-data{
  padding: 140px 220px;
}

.your-data__title{
  font-size: 72px;
}

.your-data__decoration{
  width: 681px;
  height: 381px;
  background-color: transparent;
  background-image: url(../images/data.svg);
  background-size: cover;
  background-position: center;
}

.your-data__button{
  padding: 20px 40px;
}

.sponsors{
  padding: 140px 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.sponsors__title{
  font-size: 72px;
}

.sponsors__list{
  width: 100%;
  height: 71px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apps{
  background-color: var(--primary-dark-blue);
  background-image: url(../images/lines-two.svg);
  background-size: cover;
  background-position: center;
  padding: 140px 220px;
  color: var(--secondary-white);
}

.apps__container{
  gap: 100px;
}

.apps__decoration{
  width: 582px;
  height: 470px;
  background-color: transparent;
  background-image: url(../images/Apps.svg);
  background-size: cover;
  background-position: center;
}

.apps__title{
  font-size: 72px;
  /* padding-right: 5px; */
}

.apps__button{
  padding: 20px 40px;
}

.comments{
  padding: 140px 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.comments__title{
  font-family: Inter, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 3%;
}

.comments__list{
  list-style: none;
  display: flex;
  gap: 32px;
}

.comments__slider{
  width: 60px;
  height: 12px;
  background-image: url(../images/Slider.svg);
  background-size: cover;
  background-position: center;
}

.trial{
  display: flex;
  justify-content: center;
  padding: 140px 220px;
  text-align: center;
  background-color: var(--primary-dark-blue);
  color: var(--secondary-white);
}

.trial__container{
  width: 608px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.trial__title{
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 1%;
}

.trial__header{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.trial__text{
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 32px;
}

.trial__button{
  padding: 20px 40px;
  font-size: 16px;
  line-height: 19px;
  align-self: center;
}

.trial__os-list{
  height: 60px;
  list-style: none;
  display: flex;
  gap: 40px;
}